@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;600;700&family=JetBrains+Mono:wght@400;700&display=swap');

:root {
  --bg: #060B14;
  --panel: #0E1B2E;
  --panel2: #122741;
  --linea: #1E3A5C;
  --cian: #22D3EE;
  --cian-d: #0E93A8;
  --verde: #34E39B;
  --verde-d: #179168;
  --oro: #FFC531;
  --oro-d: #C79200;
  --virus: #FF3B5C;
  --virus-d: #B81E3B;
  --txt: #DCE9F5;
  --gris: #7C93AE;
  --f: 'Space Grotesk', system-ui, sans-serif;
  --m: 'JetBrains Mono', ui-monospace, monospace;
}
