node_modules/
.next/
out/
opencode.json
scripts/
public/nivel2/qr/sector-alfa.png
public/nivel2/qr/sector-alfa.svg
public/nivel2/qr/sector-beta.png
public/nivel2/qr/sector-beta.svg
public/nivel2/qr/sector-delta.png
public/nivel2/qr/sector-delta.svg
public/nivel2/qr/sector-gamma.png
public/nivel2/qr/sector-gamma.svg
scripts/generar-nivel2.mjs
